@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

.instructionsText{
    font-family: Ribeye;
    font-size: larger;
}

.importantTitle{
    font-family: Ribeye Marrow;
}

hr{
    border: 6px solid #FCD5CE;
    margin-bottom: 4vw;
}


@media only screen and (max-width: 380px) {
    /*mobile phones */
    .instructionsText {
        font-size: small; 
    }
    .importantTitle {
        font-size: medium;
    }
    h1 {
        font-size: medium;
    }
}


