@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

h1{
    font-family: Ribeye Marrow;
}

.deleteListButton{
    background-color: #FEC89A;
    color: white;
    padding: 1vw;
    margin: 3vw;
    border-color: transparent;
    margin-bottom: 5vw;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.deleteListButton:hover{
    background-color: white;
    color: #FEC89A;
    border-color: #FEC89A;
    border-width: 3px;
}
.modalWindows{
    width: 95vw;
    height: 95vh;
    position: relative;
    margin: auto;
    display: none;
    border: 20px solid #FEC89A;
}
.activeModal{
    display: flex;
}
.divModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4vh;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
}